<!DOCTYPE html>
<html>
  <%- include('./includes/dashboard/head') %>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('./includes/dashboard/navbar') %>

      <!-- Main Sidebar Container -->
      <%- include('./includes/dashboard/sidebar') %>
      <br />

      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>فرم‌های عمومی</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="card card-light">
                  <div class="card-header">
                    <h3 class="">ایجاد مسابقه</h3>
                  </div>
                  <form role="form">
                    <div class="card-body">
                      <div class="form-group d-flex justify-content-between">
                        <div class="col-6 p-0">
                          <label for="exampleInputEmail1" class=" control-label h5">تیم اول</label>
                          <input type="email" class="form-control-lg form-control" id="exampleInputEmail1" placeholder="تیم اول را وارد کنید" />
                        </div>
                        <div class="col-6">
                          <label for="exampleInputEmail1" class=" control-label h5">تیم دوم</label>
                          <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="تیم دوم را وارد کنید" />
                        </div>
                      </div>
                      <div class="form-group my-5">
                        <label for="exampleInputPassword1" class=" control-label h5">تاریخ شروع پیشبینی</label>
                        <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="پسورد را وارد کنید" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1" class=" control-label h5">تاریخ اتمام پیشبینی</label>
                        <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="پسورد را وارد کنید" />
                      </div>
                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">ارسال</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-light">
                  <div class="card-header">
                    <h3 class="">ایجاد تیم</h3>
                  </div>
                  <form class="form-horizontal">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label h5">نام تیم</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control form-control-lg" id="inputEmail3" placeholder="نام تیم را وارد کنید" />
                        </div>
                      </div>
                      <div class="form-group my-5">
                        <label for="inputPassword3" class="col-sm-2 control-label h5">لیگ</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control form-control-lg" id="inputPassword3" placeholder="لیگ را وارد کنید" />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label h5">لوگو</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control form-control-lg" id="inputPassword3" placeholder="لوگو را آپلود کنید" />
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-info">ورود</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <%- include('./includes/dashboard/jssrc') %>
  </body>
</html>
