<!doctype html>
<html class=no-js lang="">
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset=utf-8>
  <meta name=description content="">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <title>باشگاه فوتبال</title>
  <link rel="shortcut icon" href=favicon.ico>
  <link rel=stylesheet href=/css/index.css>
  <link rel=stylesheet type=text/css href=/css/layerslider.css>
</head>

<body>
  <div class=wrapper>
    <header class=header-main>
      <div class=header-upper>
        <div class=container>
          <div class=row>
            <ul class="topHeaderRight">
              <li>
                <a href="/user/signin">ورود</a>
              </li>
              <li>
                <span class="slash">/</span>
              </li>
              <li>
                <a href="/user/signup">ثبت نام</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header-lower clearfix">
        <div class=container>
          <div class=row>
            <h1 class=logo><a href=index.html><img src=/img/logo.png alt=image></a></h1>
            <div class=social><a href=https://www.facebook.com/Itobuz class=facebook><i class="fa fa-facebook"></i></a>
              <a href=https://twitter.com/itobuztech class=twitter><i class="fa fa-twitter"></i></a> <a
                href=https://www.behance.net/itobuz class=behance><i class="fa fa-behance"></i></a>
            </div>

          </div>
        </div>
      </div>
    </header>
    <div class=banner id=layerSlider style="width: 100%;">
      <div class=ls-slide data-ls="transition3d: 33,15; slidedelay: 8000 ; durationin:0;">
        <img src=/img/banner/background01.jpg class=ls-bg alt="Slide background">
        <div class="ls-l layercontent01" style="top: 50%; left: 50%; z-index:4;" data-ls="offsetxin:left; offsetxout:right; durationin: 4000; parallaxlevel: 8;">
          <img src=/img/banner/player.png alt=innerimage class=img-responsive style="max-width: 100% !important ;">
        </div>
        <img src=/img/banner/ball.png alt=innerimage class="ls-l layercontent02" style=z-index:5; data-ls="offsetxin: right; offsetxout:left; rotatein:-360; easingin: easeoutquart; durationin: 4000; delayin: 250; parallaxlevel: -5;">
        <img src=/img/banner/front_particles.png alt=particles class=ls-l style="z-index:3; left:0;" data-ls="offsetxin: left; offsetxout:left; scalexin:50; easingin: easeoutquart; durationin: 3000; delayin: 250;">
        <img src=/img/banner/back_particles.png alt=particles class=ls-l style="z-index:3; left:50%;" data-ls="offsetxin: left; offsetxout:left; scalein:90; easingin: easeoutquart; durationin: 3000; delayin: 250;">
        <h2 class="ls-l bannertext layercontent03" data-ls="offsetxin:left; rotatexin:90 ; durationin: 3500;">شروع</h2>
        <h2 class="ls-l bannertext01 italic01 layercontent04" data-ls="offsetxin:left; scalexin:9; durationin: 4000;">حرکت</h2>
        <h4 class="ls-l bannertext02 layercontent05" data-ls="offsetxin:left; rotatexin:90 ; durationin: 4500;">از</h4>
        <h2 class="ls-l bannertext01 layercontent06" style="left: 87%; top:760px;"data-ls="offsetxin:left; flipxin:90 ; durationin: 5000;">21<sup> شنبه </sup></h2>
        <h6 class="ls-l bannertext03 layercontent07" data-ls="offsetxin:left; flipxin:90 ; durationin: 6000;">خرداد , 1394</h6>
      </div>
    </div>
    <div class=banner-text>
      <div class=container>
        <div class=row>شروع از ساعت 10<sup> شنبه </sup> مهر , 1394</div>
      </div>
    </div>
    <section class="booking bg-smallwhite">
      <div class=container>
        <div class=row>
          <span class=heading> درباره <span class="mx scc"> scc </span></span>
          <div class=about-wrap>
            <div class="">
              <p role=tabpanel class="" id=matches>لورم ایپسوم یا طرح‌نما (به ایرانی: لورم ایپسوم) به متنی
                آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی
                گرافیک گفته اردیبهشت‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل
                ظاهری و کلی طرح سفارش گرفته شده استفاده اردیبهشت نماید.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class=latestResult>
      <div class=container>
        <div class=row>
          <span class=heading>آخرین <span class="mx last-result">نتایج</span></span>
          <div class="result clearfix">
            <div class=result-details>
              <div class=content>
                <h4>پرسپولیس</h4>
                <p>باخت</p>
                <p> سردارآزمون (23)</p>
              </div>
              <div class=figure>
                <div class=team-logo>
                  <div style=background:url(/img/team-logo/logo01.png) class=teamLogoImg></div>
                </div>
              </div>
            </div>
            <div class=result-count>
              <div class=count-number><span class=lose-team>1</span> <span>-</span> <span class=win-team>3</span></div>
              <div class=dateTime>
                <div class=dateTime-container><span class=date>اردیبهشت 16,1394</span> <span class=time>15:30</span>
                </div>
                <div class=country-wrap><span class=field>استادیوم آزادی</span> <span class=country>(تهران)</span>
                </div>
              </div>
            </div>
            <div class=result-details>
              <div class="content contentresult">
                <h4>استقلال</h4>
                <p>برد</p>
                <p> سردارآزمون (29)</p>
                <p> سردارآزمون (39)</p>
              </div>
              <div class="figure figresult">
                <div class=team-logo>
                  <div style=background:url(/img/team-logo/logo02.png) class=teamLogoImg></div>
                </div>
              </div>
            </div>
            <div class=center><a href=# class="btn btn-red score-btn">تابلوی امتیازات</a></div>
          </div>
        </div>
      </div>
    </section>
    <section class=matchSchedule>
      <div class=container>
        <div class=row>
          <span class=heading>برنامه <span class="mx">مسابقات</span></span>
          <p class=headParagraph>لورم ایپسوم یا طرح‌نما (به ایرانی: لورم ایپسوم) به متنی آزمایشی و بی‌معنی در صنعت چاپ،
            صفحه‌آرایی و طراحی
            گرافیک گفته اردیبهشت‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه
            اولیه شکل
            ظاهری و کلی طرح سفارش گرفته شده استفاده اردیبهشت نماید</p>

          <div class="matchSchedule_details row">
            <div class=match_versus-wrap>
              <div class=wrap_match-innerdetails>
                <ul class="home_tInfo scrollable">
                  <li>
                    <a href="#">
                      <ul class="t_info match_info01 headline01 clearfix p-right">
                        <li></li>
                        <li>
                          <div class="headline01 clearfix">
                            <span>استقلال</span><span class=vs>مقابل</span><span>پرسپولیس</span>
                          </div>
                          <div class="paragraph02 clearfix">
                            <span>آبان 1400,4</span><span>18.25</span>
                          </div>
                        </li>
                      </ul>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <ul class="t_info match_info01 headline01 clearfix p-right">
                        <li></li>
                        <li>
                          <div class="headline01 clearfix">
                            <span>استقلال</span><span class=vs>مقابل</span><span>پرسپولیس</span>
                          </div>
                          <div class="paragraph02 clearfix">
                            <span>آبان 1400,4</span><span>18.25</span>
                          </div>
                        </li>
                      </ul>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class=match_next>
              <div class="wrap_match_next left_triangle">
                <div class=left_padding>
                  <h4 class=headline03>ویژگی های جدید</h4>
                  <p>لورم ایپسوم یک متن ساختگی است.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class=footer-type01>
      <div class=footer-type02>
        <div class=container>
          <div class=row><a href=index.html class=footer-logo><img src=/img/logo.png alt=image></a>
            <div class=footer-container>
              <ul class=clearfix>
                <li><a href=https://www.facebook.com/Itobuz class=bigsocial-link><i class="fa fa-facebook"></i></a></li>
                <li><a href=https://twitter.com/0effortthemes class=bigsocial-link target=_blank><i
                      class="fa fa-twitter"></i></a></li>
                <li><a href=https://www.behance.net/itobuz class=bigsocial-link target=_blank><i
                      class="fa fa-behance"></i></a></li>
              </ul>
              <p>حق کپی رایت برای تیم DigiRoot محفوظ است  </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src=/js/vendor.js></script>
  <script src=/js/pages/index.js></script>
</body>
</html>