<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/login/head.ejs') %>
  <body class="rtl">
    <div class="row mx-0 auth-wrapper">
      <!--remove bg-->
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="d-none d-sm-flex col-sm-6 col-lg-7 align-items-center p-5">
        <div class="d-lg-flex flex-column w-100  text-center text-white">
          <img src="" class="mb-3">
          <h1 classname="d-flex">ุณูุงู ๐ ุฎูุด ุงููุฏ</h1>
          <p>ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ</p>
        </div>
      </div>
      <div class="d-flex justify-content-center col-sm-6 col-lg-5 align-items-center px-5 bg-white mx-auto">
        <form class="form-wrapper w-50" action="/user/signup" method="POST">
          <div class="d-flex flex-column">
            <div class="mb-4">
              
              <h3 class="font-medium mb-1">ุซุจุช ูุงู</h3>
              <p class="mb-2">ูุทูุง ูุงุฑุฏ ุญุณุงุจ ฺฉุงุฑุจุฑ ุฎูุฏ ุดูุฏ</p>
            </div>
            <div class="mb-10">
              <%- include('./includes/message/validationMessages') %>
              <div class="form-group">
                <label for="username" class="">ูุงู ฺฉุงุฑุจุฑ</label>
                <input name="username" type="text" placeholder="ูุงู ฺฉุงุฑุจุฑ ุฎูุฏ ุฑุง ูุงุฑุฏ ฺฉูุฏ" class="form-control">
                </input>
              </div>
              <div class="form-group">
                <label for="mail" class="">ุงูู</label>
                <input name="email" type="text" placeholder="ุงูู ุฎูุฏ ุฑุง ูุงุฑุฏ ฺฉูุฏ" class="form-control">
                </input>
              </div>
              <div class="form-group">
                <label for="password" class="">ูพุณูุฑุฏ</label>
                <input name="password" type="password" placeholder="ูพุณูุฑุฏ ุฎูุฏ ุฑุง ูุงุฑุฏ ฺฉูุฏ" class="form-control">
              </div>
              <div class="form-group">
                <label for="repassword" class="">ูพุณูุฑุฏ</label>
                <input name="repassword" type="password" placeholder="ูพุณูุฑุฏ ุฎูุฏ ุฑุง ูุงุฑุฏ ูุฌุฏุฏุง ฺฉูุฏ" class="form-control">
              </div>
              <div class="text-right"><a class="btn btn-link">ุฑูุฑ ุนุจูุฑ ุฑุง ูุฑุงููุด ฺฉุฑุฏุฏุ</a></div>
              <button type="submit" class="btn btn-primary btn-block mt-3 border-0">ุงุฌุงุฏ ุญุณุงุจ ฺฉุงุฑุจุฑ</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <%- include('./includes/login/jssrcs.ejs') %>
  </body>
</html>
