<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-form-title" style="background-image: url(/img/bg-01.jpg)">
            <span class="login100-form-title-1"> Sign In </span>
          </div>

          <form class="form-signin login100-form validate-form" action="/user/signup" method="POST">
            <%- include('./includes/validationMessages') %>
            <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
              <span class="label-input100">email</span>
              <input class="input100" type="email" name="email" placeholder="Enter Email" />
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 secondRow validate-input m-b-18" data-validate="Password is required">
              <span class="label-input100">Password</span>
              <input class="input100" type="password" name="password" placeholder="Enter password" />
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 secondRow validate-input m-b-18" data-validate="Password is required">
              <span class="label-input100">Password</span>
              <input class="input100" type="password" name="password" placeholder="Enter password" />
              <span class="focus-input100"></span>
            </div>

            <div class="thirdRow">
              <div class="contact100-form-checkbox">
                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" />
                <label class="label-checkbox100" for="ckb1"> Remember me </label>
              </div>
            </div>

            <div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('./includes/jssrcs.ejs') %>
  </body>
</html>
